<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
            <div class="card-header">
                Authentification
                <div class="text-danger" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <div class="card-body">
                    <form action="" [formGroup]="userFormGroup" (ngSubmit)="handleAdmin()">
                        <div class="mb-3">  
                            <label for="" class="form-label">UserName</label>
                            <input type="text" formControlName="username" class="form-control">
                            
                            <label for="" class="form-label">Password</label>
                            <input type="text" formControlName="password" class="form-control">
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>